<!DOCTYPE html>

<html lang="en">
    <header>
        <title>Weather & dress</title>
        <meta name= "viewport" content = "width=device-width, initial-scale=1,shrink-to-fit=no">
        <link rel = "stylesheet" href = "css/master.css">
        
    </header>

<body>
    <label for="site-search">Search the site:</label>
    <input type="search" id="site-search" name="q" aria-label="Search through site content">
    <button>Search</button>
    <h2>The temperature is:</h2>
    <h3>{{temp}}</h3>
    
</body>

</html>